
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway Light';
    src: url('fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway Bold';
    src: url('fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #f4f4f4;
}

p.light {
    font-family: 'Raleway Light', sans-serif;
    font-size: 1em;
}
p.bold {
    font-family: 'Raleway Bold', sans-serif;
    font-size: 1em;
}
